.header {
    background-color: #1A1A1A;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    padding: 0 34px;
}

.header__title {
    font-size: 36px;
}

.signup {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 24px;
    color: #FFFFFF; /* Adicionado para garantir a cor do texto */
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.signup:hover {
    font-size: 22px;
    text-decoration: underline;
}

.login {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding: 8px 30px;
    background-color: #FF8484;
    border-radius: 10px;
    color: #FFFFFF; /* Adicionado para garantir a cor do texto */
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.login:hover {
    font-size: 22px;
    background-color: #FF6B6B;
}

.logout-button {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0 24px;
    background: none; /* Remove o fundo */
    border: none; /* Remove a borda */
    color: #FFFFFF; /* Garante que o texto seja branco */
    cursor: pointer; /* Adiciona o cursor de clique */
    transition: font-size 0.3s ease, text-decoration 0.3s ease; /* Adiciona transição suave */
}

.logout-button:hover {
    font-size: 22px;
    text-decoration: underline;
}

.home {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding: 8px 30px;
    background-color: #FF8484;
    border-radius: 10px;
    color: #FFFFFF; /* Adicionado para garantir a cor do texto */
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.home:hover {
    font-size: 22px;
    background-color: #FF6B6B;
}

.profile {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
    padding: 8px 30px;
    background-color: #FF8484;
    border-radius: 10px;
    color: #FFFFFF; /* Adicionado para garantir a cor do texto */
    transition: font-size 0.3s ease, text-decoration 0.3s ease;
}

.profile:hover {
    font-size: 22px;
    background-color: #FF6B6B;
}